body {
    background-color: #f2f7f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #003049;
}

.navbar-brand {
    font-weight: bold;
    color: #fefefe !important;
}


h2 {
    color: #012538;
}

form label {
    font-weight: 600;
}

footer {
    margin-top: 50px;
}

input,
select,
button {
    border-radius: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


